In [4]:
import pandas as pd

df_sampah= pd.read_excel('data_sampah_jabar.xlsx',sheet_name='data')
data_sampah=df_sampah[['nama_kabupaten_kota','jumlah_produksi_sampah','tahun']]
data_sampah
data_sampah.to_excel('Data_Sampah.xlsx', index=False)
data_sampah.to_csv('Data_Sampah.csv', index=False)

In [7]:
Tahun=2015
sampah2015=0
for i,r in data_sampah.iterrows():
    if r['tahun']==Tahun:
        sampah2015= sampah2015 +r['jumlah_produksi_sampah']
        
print(sampah2015)
df_no2 = pd.DataFrame({'tahun':[Tahun], 'Total produksi sampah':[sampah2015]})
# df_no2
df_no2.to_excel('totalno2.xlsx', index=False)
df_no2.to_csv('totalno2.csv', index=False)

20969.269999999997

In [6]:
data_tahun={}
for i, r in data_sampah.iterrows():
    tahun = r['tahun']
    if tahun not in data_tahun:
        data_tahun[tahun]=0
        
    data_tahun[tahun]+=r['jumlah_produksi_sampah']


print(data_tahun)
df_no3 = pd.DataFrame(list(data_tahun.items()), columns=['tahun', 'jumlah data sampah'])
df_no3.to_excel('jumlah_data_pertahun.xlsx', index=False)
df_no3.to_csv('jumlah_data_pertahun.csv', index=False)
df_no3

{2015: 20969.269999999997, 2016: 20969.269999999997, 2017: 20969.269999999997, 2018: 22772.92, 2019: 24490.559999999998, 2020: 25333.0, 2021: 15735.360000000002, 2022: nan, 2023: nan}

   tahun  jumlah data sampah
0   2015            20969.27
1   2016            20969.27
2   2017            20969.27
3   2018            22772.92
4   2019            24490.56
5   2020            25333.00
6   2021            15735.36
7   2022                 NaN
8   2023                 NaN

In [135]:
data_kota={}
for i, r in data_sampah.iterrows():
    tahun = r['tahun']
    kota = r['nama_kabupaten_kota']
    if kota not in data_kota:
        data_kota[kota] = {}    
    if tahun not in data_kota[kota]:
        data_kota[kota][tahun] = 0
    data_kota[kota][tahun] +=r['jumlah_produksi_sampah']
        
# data_kota
df_no4 = pd.DataFrame(data_kota.items(), columns=['kota','tahun'])
df_no4.to_excel('jumlah_data_kota.xlsx', index=False)
df_no4.to_csv('jumlah_data_kota.csv', index=False)
df_no4

                       kota                                              tahun
0           KABUPATEN BOGOR  {2015: 1511.15, 2016: 1511.15, 2017: 1511.15, ...
1        KABUPATEN SUKABUMI  {2015: 419.01, 2016: 419.01, 2017: 419.01, 201...
2         KABUPATEN CIANJUR  {2015: 981.41, 2016: 981.41, 2017: 981.41, 201...
3         KABUPATEN BANDUNG  {2015: 1895.94, 2016: 1895.94, 2017: 1895.94, ...
4           KABUPATEN GARUT  {2015: 464.74, 2016: 464.74, 2017: 464.74, 201...
5     KABUPATEN TASIKMALAYA  {2015: 464.52, 2016: 464.52, 2017: 464.52, 201...
6          KABUPATEN CIAMIS  {2015: 260.91, 2016: 260.91, 2017: 260.91, 201...
7        KABUPATEN KUNINGAN  {2015: 251.7, 2016: 251.7, 2017: 251.7, 2018: ...
8         KABUPATEN CIREBON  {2015: 465.75, 2016: 465.75, 2017: 465.75, 201...
9      KABUPATEN MAJALENGKA  {2015: 254.63, 2016: 254.63, 2017: 254.63, 201...
10       KABUPATEN SUMEDANG  {2015: 237.96, 2016: 237.96, 2017: 237.96, 201...
11      KABUPATEN INDRAMAYU  {2015: 613.18, 2016: 613.18, 2017: 613.18, 201...
12         KABUPATEN SUBANG  {2015: 487.26, 2016: 487.26, 2017: 487.26, 201...
13     KABUPATEN PURWAKARTA  {2015: 308.96, 2016: 308.96, 2017: 308.96, 201...
14       KABUPATEN KARAWANG  {2015: 869.86, 2016: 869.86, 2017: 869.86, 201...
15         KABUPATEN BEKASI  {2015: 1228.6, 2016: 1228.6, 2017: 1228.6, 201...
16  KABUPATEN BANDUNG BARAT  {2015: 616.08, 2016: 616.08, 2017: 616.08, 201...
17    KABUPATEN PANGANDARAN  {2015: 185.83, 2016: 185.83, 2017: 185.83, 201...
18               KOTA BOGOR  {2015: 991.93, 2016: 991.93, 2017: 991.93, 201...
19            KOTA SUKABUMI  {2015: 309.91, 2016: 309.91, 2017: 309.91, 201...
20             KOTA BANDUNG  {2015: 2448.63, 2016: 2448.63, 2017: 2448.63, ...
21             KOTA CIREBON  {2015: 304.15, 2016: 304.15, 2017: 304.15, 201...
22              KOTA BEKASI  {2015: 2387.08, 2016: 2387.08, 2017: 2387.08, ...
23               KOTA DEPOK  {2015: 1844.3, 2016: 1844.3, 2017: 1844.3, 201...
24              KOTA CIMAHI  {2015: 563.21, 2016: 563.21, 2017: 563.21, 201...
25         KOTA TASIKMALAYA  {2015: 472.36, 2016: 472.36, 2017: 472.36, 201...
26              KOTA BANJAR  {2015: 130.21, 2016: 130.21, 2017: 130.21, 201...